@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
  background: rgb(245, 245, 245);
  background: radial-gradient(circle, rgba(245, 245, 245, 1) 0%, rgba(205, 204, 204, 1) 100%);
}

.content-box {
  font-family: 'Montserrat', sans-serif;
  background: rgba(255, 255, 255, 0.903);
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  font-size: 18px;
  max-width: 600px;
  letter-spacing: 0.03em;
  border-radius: 10px;
  box-shadow: 5px 10px 25px #5e5e5e7e;
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-top: 100px;
}

.items {
  position: relative;
  display: inline-block;
  flex: 1;
  width: 33%;
  margin: 10px;
  border-radius: 10px;
}

.items p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
}

.items img {
  width: 100%;
  min-width: 400px;
  max-width: 500px;
  aspect-ratio: 1/1;
  object-fit: cover;
  opacity: 0.85;
  border-radius: 10px;
}

.button-grp {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 600px;
  background: rgb(255, 255, 255);
  margin: auto;
  margin-top: -20px;
  padding: 20px;
  border-radius: 10px;
}

.button-grp button {
  height: 35px;
  width: 120px;
  background: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width:1100px) {
  .items {
    flex: 1;
    width: 50%;
  }

  .items img {
    min-width: 300px;
  }

}

@media screen and (max-width:750px) {
  .items {
    flex: 1;
    width: 100%;
  }

  .items img {
    min-width: 250px;
  }

  .button-grp button {
    margin: 5px;
  }
}